.service-section {
    font-family: "Inter", sans-serif;
    width: 1400px;
    margin: 30px auto;
}

.service-heading {
    text-align: center;
    margin-bottom: 40px;
}

.service-heading h2 {
    color: #0D1B2A;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0px;
}


.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card-value {
    font-weight: 700;
    font-size: 35px;
}

.card-category {
    padding-bottom: 24px;
    border-bottom: 2px solid rgb(241, 237, 237);
}


.card-category p {
    margin: 0px;
}

.card-category h1 {
    margin: 0px;
}

.card-service {
    width: 370px;
    height: 420px;
    border: 3px solid rgb(243, 238, 238);
    border-radius: 5px;
    padding: 24px;
}

.card-features li::marker {
    color: #2563EB;
}

.card-features li {
    padding-bottom: 16px;
    color: #333333;
}


.card-btn button {
    width: 320px;
    padding: 10px 0px;
    color: #2563EB;
    border: 1px solid #2563EB;
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
}

.btn-pro button {
    color: white;
    background-color: #2563EB;
}

.btn-team button {
    width: 320px;
    padding: 10px 0px;
    color: #333336;
    border: 1px solid #616264;
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
}