footer {
    height: 200px;
    color: #ffffff;
    background-color: rgb(8, 8, 8);
    font-family: "Inter", sans-serif;
    padding: 50px 70px;
}



.fa-facebook,
.fa-discord,
.fa-linkedin,
.fa-github {
    font-size: 40px;
    color: white;
}

.social-link {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

hr{
    width: 100%;
    color: rgba(230, 222, 222, 0.822);
}

.icons {
    display: flex;
    gap: 10px;
}

.trade-mark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}


.policy {
    display: flex;
    gap: 30px;
}

.policy>a {
    text-decoration: none;
    color: rgba(241, 241, 245, 0.637);
}