.hero {
    background-image: url("image/banner.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("image/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1550px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: "Inter", sans-serif;
    color: #ffffff;
    margin: 20px auto;

}

.hero-description h3 {
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 0;

}

.hero-description p {

    text-align: center;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 30px;
}

.hero button {
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
    color: #ffffff;
    background-color: #1d4ed8FF;
    padding: 24px 72px;
}