.speaker-section {
    font-family: "Inter", sans-serif;
    width: 1300px;
    /* padding: 0px 100px; */
    margin: 30px auto;
}

.speaker-section h2 {
    color: #000120;
    font-weight: 700;
    font-size: 56px;
    text-align: center;
}

.course {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.speaker img {
    width: 650px;
    height: 460px;
}

.speaker {
    border: 2px solid rgba(211, 204, 204, 0.575);
    border-radius: 12px;
    width: 650px;
    height: 640px;
}

.speaker-desc {
    padding: 24px;
}

.tech-name {
    color: #2563EB;
    font-weight: normal;
    margin-bottom: 8px;
}

.engr-name {
    color: #0D1B2A;
    font-weight: bold;
    margin-bottom: 8px;
}

.engr-desc {
    color: #575757;
    font-weight: normal;
    margin-bottom: 8px;
}